.hero-section .container{
    min-height: 100vh;
    background: url(/assets/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hero-section *{
    font-family: 'Inter', sans-serif;
}

.hero-section .container .hero-content{
    max-width: 680px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-section .container .hero-content > h1{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: var(--black);
}

.hero-section .container .hero-content > h1 > span{
    font-family: 'Playfair Display', serif;
    color: var(--yellow);
}

.hero-section .container .hero-content > p{
    font-size: 1.25rem;
    color: var(--black);
}

.hero-section .container .hero-content .button-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-section .container .hero-content .button-wrapper > a{
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: var(--semi-bold);
}

.hero-section .container .hero-content .button-wrapper #holiday-planner-btn{
    background-color: var(--aqua-blue);
    color: var(--white);
    box-shadow: 0px 0px 16px rgba(46, 196, 182, 0.3);
}

.hero-section .container .hero-content .button-wrapper #promo-btn{
    border: 1px solid var(--aqua-blue);
    color: var(--aqua-blue);
    transition: 0.5s color ease-in-out, 0.5s background-color ease-in-out;
}

.hero-section .container .hero-content .button-wrapper #promo-btn:hover{
    background-color: var(--aqua-blue);
    color: var(--white);
}

.hero-section .container .hero-form{
    width: 496px;
    background-color: var(--white);
    padding: 3rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 32px -2px rgba(59, 73, 73, 0.15);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero-section .container .hero-form .form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-section .container .hero-form .form-wrapper .input-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-section .container .hero-form .form-wrapper .input-field > label{
    color: var(--black);
    opacity: 0.8;
}

.hero-section .container .hero-form .form-wrapper .input-field > hr{
    width: 32px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--black);
    border: none;
}

.hero-section .container .hero-form .form-wrapper .input-field #input-date{
    display: flex;
    justify-content: space-between;
}

.hero-section .container .hero-form .form-wrapper .input-field input,
.hero-section .container .hero-form .form-wrapper .input-field select{
    padding: 0.75rem 1rem;
    border: 1px solid var(--yellow);
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.hero-section .container .hero-form > button{
    width: 100%;
    background-color: var(--aqua-blue);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    box-shadow: 0px 0px 16px rgba(46, 196, 182, 0.3);
    font-size: 1.25rem;
    font-weight: var(--semi-bold);
    color: var(--white);
    cursor: pointer;
}