@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root{
    --yellow: #FF9F1C;
    --white: #FFFFFF;
    --black: #3B4949;
    --aqua-blue: #2EC4B6;
    --red: #DD0B0B;
    --green: #24BB2A;
    --medium: 500;
    --semi-bold: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a{
    line-height: 150%;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 5rem;
}

input:focus{
    outline: none;
}