#sidebar {
  min-width: 270px;
  max-width: 302px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

#sidebar h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

#sidebar h5 {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 1rem;
}

#sidebar hr {
  border-radius: 4px;
  width: 180px;
  border-color: var(--aqua-blue);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input-group {
  box-shadow: 0px 0px 32px -2px rgba(59, 73, 73, 0.15);
}
.form-control {
  border-color: var(--yellow);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none;
}
.input-group-text {
  border-color: var(--yellow);
}
/* slider */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active,
.ui-button:focus {
  border: 1px solid var(--yellow);
  background: var(--yellow);
  color: var(--aqua-blue);
  border-radius: 50%;
}

.ui-widget-header {
  background: var(--aqua-blue);
}

/* end slider */

/* radio button */
.radio-button form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.radio-button label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  color: #3b4949cc;
}
.radio-button label input {
  position: absolute;
  left: -9999px;
}
.radio-button label input:checked + span {
  background-color: #d6d6e5;
}
.radio-button label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em var(--yellow);
}
.radio-button label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0;
  border-radius: 99em;
  transition: 0.25s ease;
}
.radio-button label span:hover {
  background-color: #d6d6e5;
}
.radio-button label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: var(--white);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #3b49494d;
}
/* end radio button */
@media (max-width: 767.98px) {
  #sidebar {
    min-width: 100%;
    max-width: 180px;
    border-left: none;
  }
}
